{% extends "VadimBlogBundle:Default:blog_layot.html.twig" %}


{% block title %}
    About me
{% endblock title %}

{% block page_content %}



    {% for about_me in about %}
        <h1>{{ about_me.title }}</h1>
        <p>{{ about_me.body }}


    {% endfor %}

    {#{{ include(#}
    {#'VadimBlogBundle:Default:panel.html.twig',{}#}
    {#) }}#}
{% endblock page_content %}