{#{% extends ::base.html.twig %}#}
<p> Last Articles</p>
{#<ul class="nav navbar-nav">#}
    {% for article in lastArticles %}
    {#<li class="active">#}
        <a href="{{ path('_see', {'id': article.id}) }}" class="list-group-item">
            {{ article.title }}
        </a>
    {#</li>#}

{% endfor %}
{#</ul>#}
