{#{% extends ::base.html.twig %}#}
<p> Last Articles</p>
<ul class="nav">
    {% for article in lastArticles %}
    <li class="active">
        <a href="{{ path('_see', {'id': article.id}) }}">
            {{ article.title }}
        </a>
    </li>

{% endfor %}
</ul>
