{#{% extends VadimBlogBundle::layout.html.twig %}#}
<p> most View Articles</p>
<ul>
    {% for article in mostViewArticles %}
        <li>
            <a href="{{ path('_see', {'id': article.id}) }}">
                {{ article.title }}
            </a>
        </li>

    {% endfor %}
</ul>
