<ul class="nav nav-pills">
    <li class="active"><a href="{{ path('_about' )}}"> {{ 'About' }}
        </a></li>
    <li><a href="{{ path('_blog' )}}"> {{ 'Blog' }}</a></li>
    <li><a href="/guest/index">GuestBook</a></li>
</ul>