{% extends "VadimBlogBundle:Default:blog_layot.html.twig" %}
{% block page_content %}
<ul>
    {% for article in articles %}
        <li>
            <a href="{{ path('_see', {'id': article.id}) }}">
                {{ article.title }}
            </a>
        </li>

    {% endfor %}
</ul>
{% block page_content %}