<div class="panel panel-default">
    {#<div class="panel-heading">{{ 'paul_maxwell_blog.sidebar.tags'|trans }}</div>#}
    <div class="panel-body">
        <ul class="list-inline">
            {% for tag in tagCloud %}
                <li style="font-size: {{ tag.fontSize }}pt ">
                    <a href="{{ url('_tag', {'id': tag.id}) }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>